/* Menu burger */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Aligner le bouton burger et le menu */
.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.burger {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px;
}

.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute; /* Menu en position absolue pour qu'il apparaisse sous le bouton */
    top: 60px; /* Ajuste en fonction de la hauteur de ta navbar */
    left: 15px; /* Aligné à gauche */
    background-color: rgba(0, 0, 0, 0.9); /* Couleur de fond du menu */
    padding: 10px;
    border-radius: 5px;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Afficher le menu lorsqu'il est ouvert */
.menu.show {
    display: flex; /* Flex pour s'assurer que les items sont bien alignés verticalement */
}


/* Bouton de retour */
.back-button {
    margin: 20px 0;
    text-align: center;
}

.btn-return {
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn-return:hover {
    background-color: #e67e22;
}


/* Section portfolio */
#portfolio-category {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

#portfolio-category h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Masonry Layout sans recadrage */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Colonnes adaptatives */
    grid-auto-rows: 10px; /* Hauteur automatique basée sur le contenu */
    gap: 15px; /* Espace entre les images */
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Assure que les images ne soient pas recadrées */
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.05); /* Zoom léger au survol */
}


/* Lightbox styles */
.lightbox {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.lightbox.show {
    visibility: visible;
    opacity: 1;
}

.lightbox.hide {
    opacity: 0;
    visibility: hidden;
}

/* Image dans la lightbox */
.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.8); /* Réduit l'image initialement */
    transition: transform 0.4s ease; /* Animation douce de zoom */
}

.lightbox.show .lightbox-content {
    transform: scale(1); /* L'image grandit à l'apparition */
}



.lightbox .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.lightbox .close:hover,
.lightbox .close:focus {
    color: #bbb;
}


/* Styles pour le conteneur du bouton */
#load-more-container {
    display: flex;
    justify-content: center; /* Centre le bouton horizontalement */
    margin-top: 20px; /* Espace entre la galerie et le bouton */
}

/* Styles pour le bouton Charger plus */
.load-more-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #e67e22; /* Changement de couleur au survol */
}
